<% const page = '404' %>

<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <title>Hello world!</title>
  <%- include('common/meta') %>
</head>

<body class="page__body">
  <%- include('blocks/page-header', { page }) %>

  <main class="page__main">
  </main>

  <%- include('blocks/page-footer', { page }) %>
</body>

</html>
